.headinnn {
  background-image: url(../images/background/phone.jpg);
  background-color: #526d82;
  background-blend-mode: multiply;
  background-size: cover;
  height: 30rem;
  padding: 10rem;
  color: white;
}

.headinnn h1 {
  font-size: 90px;
}

.contact-body {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 3rem;
  /* background-color: bisque; */
}
.form-wrap {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

form {
  /* background-color: aquamarine; */
  width: 70%;
  display: grid;
  place-items: center;
  gap: 2rem;
  padding: 2rem 5rem;
  border: 1px solid #526d82;
  border-radius: 8px;
}

form div {
  display: grid;
  width: 100%;
  /* background-color: gold; */
}

form div label {
  font-size: 20px;
}

form div input,
form div textarea {
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgba(82, 109, 130, 0.3);
  resize: none;
  /* padding: 5px; */
  padding: 2rem 1.5rem;
  font-size: 18px;
}

form div input,
form div select {
  height: 40px;
}

.button-holder {
  display: flex;
  justify-content: flex-end;
}

form div button {
  width: 30%;
  box-shadow: 0 15px 39px rgba(0, 0, 0, 0.2);
  padding: 1.6rem 1.7rem;
  letter-spacing: 2px;
  font-weight: 500;
  border: 3px solid #27374d;
  background-color: #27374d;
  outline: none;
  border-radius: 5px;
  color: white;
}

form div button:hover {
  background-color: transparent;
  font-weight: 700;
  color: #27374d;
}

.contact-buttons {
  display: grid;
  place-items: center;
  grid-template-columns: 3fr 3fr 3fr;
}

.contact-button {
  width: 70%;
  min-height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: rgb(39, 55, 77);
  background: linear-gradient(
    53deg,
    rgba(39, 55, 77, 1) 0%,
    rgba(39, 55, 77, 1) 33%,
    rgba(82, 109, 130, 1) 77%,
    rgba(39, 55, 77, 1) 100%
  );
  color: white;
  padding: 1rem 2rem;
  border-radius: 10px;
}
