@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  transition: all ease-in-out 400ms;
  scroll-behavior: smooth;
}
body {
  /* display: flex; */
  justify-content: center;
  /* overflow-x: hidden; */
}
.containerr {
  width: 100%;
  height: 100vh;
}
